body
{
 margin: 0;
 padding: 0;
 background-image: url(panditas.jpg);
 background-size:100%;
 background-attachment: fixed;
 
}

#menu #SCOMOAYUDAR a {
 color: rgb(54, 124, 52);
  }
.box
{
    position: relative;
    max-width: 400px;
    padding:50px;
    background: rgba(255,255,255,.2);
    box-shadow: 15px  15px 15px rgba(0,0,0,.5);
}
.box h2
{
    margin: 0 0 20px;
    padding: 0;
    font-size: 48px;
    text-transform: uppercase;
    color: black; 
}
.box p
{
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-family: Helvetica;
    color: black;
}
#menu{
    margin:0;
    padding: 0;
    background-color: black;
     opacity: .70;
}
#menu li{
    list-style: none;
    display: inline-block;
}

#menu li a{
text-decoration: none;
position: relative;
color: white;
font-size: 15px;
font-weight: 00;
font-family: sans-serif;
display: block;
overflow: hidden;
transition: 0.7s all;
padding: 14px 20px;
text-transform: uppercase;
} 

#menu li a:hover{
    background-color: rgb(93, 192, 89);
   }